.buttonrow{
	height: 30px;
	margin-bottom: 20px;
}

.btn.btn-light:hover{
	text-decoration: underline;
}
.btn.btn-light:hover:disabled{
	text-decoration: none;
}


img{
	
	height: 120px;
	width: 120px;
}


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }